@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bine ați venit!</h1>
    </br>
    <p>Un magazin online specializat în jocuri video, care oferă o gamă largă de produse. Magazinul oferă cele mai bune prețuri și promoții pentru produsele sale, astfel încât să vă puteți bucura de jocurile preferate. Vizitați acest magazin și descoperiți lumea fascinantă de jocuri video!</p>
</div>
